---
layout: layouts/docs.html
title: "Guidance"
date: 2024-03-08
modified: 2025-03-17
description: "Public policy, web protocol, guidelines and best practices used to develop the ScanGov Standards."
icon: "fa-solid fa-scroll"
topics:
  - ScanGov
---

<div class="table-responsive">
  <table class="table">
    <caption class="visually-hidden">Guidance and related standards</caption>
    <thead>
      <tr>
        <th scope="col" class="p-3">Guidance</th>
        <th scope="col" class="p-3">Standards</th>
      </tr>
    </thead>
    <tbody>
      {% for item in guidance %}
      <tr>
        <td class="p-3 col-5">
          <div>
            <a href="https://standards.scangov.org/{{ item.key | slugify }}">{{ item.displayName }}</a>
          </div>
          <div>
            <span class="small text-muted">{{ item.description }}</span>
          </div>
        </td>
        <td class="p-3">
          <ul class="small mb-0">
            {% for standard in item.standards %}
              <li><a href="https://standards.scangov.org{{ standard.url }}">{{ standard.displayName }}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
