<div class="border-top mt-5 pt-4 social fs-4">
  <h2 class="h4">Connect with ScanGov</h2>
  <a href="https://discord.gg/EPCXEMAX5y">
    <i class="fa-brands fa-discord"></i>
  </a>
  <a href="https://github.com/scangov">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="https://scangov.substack.com">
    <i class="fa-solid fa-envelope-open-text"></i>
  </a>
  <a href="https://linkedin.com/company/scangov">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://docs.scangov.org/feed.xml">
    <i class="fa-solid fa-rss"></i>
  </a>
</div>