<div id="main-content">
  {% if page.layout == "home" %}
    <div class="pt-5 pb-3 mb-3 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if page.title %}
              <h1 id="jumbotron-title" class="display-5 mb-3">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
              <p class="lead">{{ page.description }}</p>
            {% endif %}
          </div>
        </div>
        {% if page.search == true %}
          <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
              {% include search-lunr.html %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% elsif page.layout == "post" or page.layout == "topic" %}
    <div class="pt-4 pb-4 mb-5 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            {% if page.title %}
              <h1 class="display-5">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
              <p class="lead fs-4">{{ page.description }}</p>
            {% endif %}
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  {% elsif page.layout == "docs" %}
    {% if page.title %}
      {% if page.topics contains 'Guidance' %}
        <div class="mb-4">
          <a href="https://standards.scangov.org/guidance">
            <span class="badge text-bg-success">
              Guidance
              <i class="fa-solid fa-trophy" aria="hidden"></i>
            </span>
          </a>
        </div>
      {% endif %}
      <h1 class="display-6 mb-3">{{ page.title }}</h1>
    {% endif %}
    {% if page.description %}
      <p class="lead pb-4 mb-5 border-bottom fs-5">{{ page.description }}</p>
    {% endif %}
  {% else %}
    <div class="pt-5 pb-4 mb-5 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% if page.title %}
              <h1 class="display-5">{{ page.title }}</h1>
            {% endif %}
            {% if page.description %}
              <p class="lead fs-4">{{ page.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>