{% if page.guidance or item.guidance == true %}
  <div class="mb-4">
    <a href="https://standards.scangov.org/guidance">
      <span class="badge text-bg-success">
        <i class="fa-solid fa-scroll" aria="hidden"></i>
        Guidance
      </span>
    </a>
  </div>
{% endif %}
{% if page.standards or item.standards == true %}
  <div class="mb-4">
    <a href="https://standards.scangov.org/">
      <span class="badge text-bg-primary">
        <i class="fa-solid fa-certificate" aria="hidden"></i>
        Standard
      </span>
    </a>
  </div>
{% endif %}