{% if page.layout == "guidance" %}
  <div class="border mb-3 px-5 py-4 shadow">
    <h2 class="m-0 p-0 h5">About
      <i class="fa-solid fa-trophy" aria-hidden="true"></i>
    </h2>
    <p class="my-0 pt-2 pb-0 small">
      <a href="/standards">ScanGov standards</a>
      are based on these established web protocol, guidelines and best practices.
    </p>
  </div>
{% else %}
  <div class="border mb-3 px-5 py-4 shadow">
    <h2 class="m-0 p-0 h5">About
      <i class="fa-solid fa-certificate" aria-hidden="true"></i>
    </h2>
    <p class="my-0 pt-2 pb-0 small">
      Our standards are based on established web
      <a href="guidance">guidance</a>.
    </p>
  </div>
{% endif %}