---
layout: plans
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Basic (coming soon)</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">Free
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Monthly email alert</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                One domain</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Homepage scan</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Basic report</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="{{ site.baseurl }}/subscribe" class="w-100 btn btn-lg btn-primary">Subscribe for updates</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal h5">Enterprise</h2>
          </div>
          <div class="card-body pt-4">
            <h3 class="card-title h2 pb-3">Contact
            </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Weekly email alerts</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Unlimited domains</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Full site scans</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Custom reports</li>
              <li>
                <i class="fa-solid fa-circle-check"></i>
                Remediation tools</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="{{ site.baseurl }}/contact" class="w-100 btn btn-lg btn-primary">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}