---
layout: cards
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="card-group">
        {% if include.limit %}
          {% assign limitVar = include.limit | plus: 0 %}
        {% endif %}
        {% if page.title == "Press" %}
          {% for item in site.data.press.docs limit: limitVar %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card mx-2 my-2 pt-2">
                <div class="card-body">
                  <h2 class="h4 mb-3">
                    <a href="{{ site.baseurl }}{{ item.url }}">
                      {{ item.title }}
                    </a>
                  </h2>
                </div>
                <div class="card-footer text-muted small">
                  {{ item.source }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "Connect" %}
          {% for item in site.data.connect.docs limit: limitVar %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card mx-2 my-2 pt-2 text-center">
                <div class="card-body">
                  <i class="fa {{ item.icon }} fa-2x mb-3"></i>
                  <h2 class="h4 mb-3">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">
                      {{ item.title }}
                    </a>
                  </h2>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "Media" %}
          {% for item in site.data.media.docs limit: limitVar %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card mx-2 my-2 pt-2">
                <div class="card-body">
                  <i class="fa {{ item.icon }} fa-2x mb-3"></i>
                  <h2 class="h4 mb-3">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">
                      {{ item.title }}
                    </a>
                  </h2>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% elsif page.title == "News" %}
          {% for item in site.posts limit: limitVar %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
              <div class="card mx-2 my-2 pt-2">
                <div class="card-body">
                  <h2 class="h3 mb-3">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                  </h2>
                  <p class="card-text">{{ item.description }}</p>
                </div>
                <div class="card-footer text-muted small">
                  {% include date.html %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          {% assign sorted_docs = site.pages | sort: 'title' %}
          {% for item in sorted_docs %}
            {% if item.icon %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                <div class="card mx-2 my-2 pt-2">
                  <div class="card-body">
                    <i class="{{ item.icon }} fa-2x mb-3"></i>
                    <h2 class="h4 mb-3">
                      <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                    </h2>
                    <p class="description">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.title == "Media" %}
    <div class="container border-top mt-4 pt-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2>Press</h2>
          <p class="lead">ScanGov in the news.</p>
        </div>
      </div>
      <div class="row">
        {% assign count = 0 %}
        {% for item in site.data.press.docs %}
          {% if item.feature == true %}
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
              <div class="card mx-2 my-2 pt-2">
                <div class="card-body">
                  <h3 class="h4 mb-3">
                    <a href="{{ site.baseurl }}{{ item.url }}">
                      {{ item.title }}
                    </a>
                  </h3>
                </div>
                <div class="card-footer text-muted small">
                  {{ item.source }}
                </div>
              </div>
            </div>
            {% assign count = count | plus: 1 %}
            {% if count == 6 %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <a href="{{ site.baseurl }}press" class="btn btn-primary mt-4">Press</a>
        </div>
      </div>
    </div>
  {% endif %}
</main>
{% include footer.html %}