---
layout: guidance
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include standards.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover shadow">
            <thead>
              <tr>
                <th scope="col" class="p-3">Topics</th>
                <th scope="col" class="p-3">Guidance</th>
              </tr>
            </thead>
            <tbody>
              {% for page in site.pages %}
                {% if page.topics and page.topics contains 'Guidance' %}
                  <tr>
                    <td class="p-3">
                      <div class="d-flex flex-wrap">
                        {% assign sorted_topics = page.topics | sort: "title" %}
                        {% for topic in sorted_topics %}
                          {% if topic != 'Guidance' %}
                            {% assign topic_slug = topic | downcase | replace: " ", "-" %}
                            {% assign topic_data = site.topics | where: "title", topic | first %}
                            {% if topic_data.url %}
                              {% assign topic_url = topic_data.url %}
                            {% else %}
                              {% assign topic_url = '/topics/' | append: topic_slug %}
                            {% endif %}
                            <a href="{{ topic_url }}" class="d-inline-flex align-items-center mb-1 me-1 text-decoration-none">
                              {% if topic_data and topic_data.icon %}
                                <i class="{{ topic_data.icon }} me-2" title="{{ topic }}"></i>
                              {% endif %}
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </td>
                    <td class="p-3">
                      <div>
                        <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                      </div>
                    </td>
                    <td class="p-3">
                      <div>
                        {{ page.description }}
                      </div>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include services.html %}
      </div>
    </div>
  </div>
</main>
{% include footer.html %}