---
layout: home
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  {% if page.search == true %}
    <div class="container mb-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          {% include search-lunr.html %}
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
      </div>
    </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-group">
          {% assign sorted_docs = site.topics | sort: 'title' %}
          {% for item in sorted_docs %}
            {% if item.icon %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                <div class="card mx-2 my-2 pt-2">
                  <div class="card-body">
                    <i class="{{ item.icon }} fa-2x mb-3"></i>
                    <h2 class="h4 mb-3">
                      <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">{{ item.title }}</a>
                    </h2>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include services.html %}
      </div>
    </div>
</main>
{% include footer.html %}