{% include "header.html" %}
{% include "nav.html" %}
<main id="main-content">
  <article>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-2">
          {% include "sidenav.html" %}
        </div>
        <div class="col-12 col-md-8">
          <div id="post">
            {% if title %}<h1 class="display-5 pt-3 pb-2">{{ title }}</h1>{% endif %}
            {% if description %}<p class="lead fs-4 pb-3 mb-4 border-bottom">{{ description }}</p>{% endif %}
            {% include "scangov.html" %}
            {% include "image.html" %}
            {% include "audio.html" %}
            <div class="post">
              {{ content | safe }}
            </div>
            {% if website %}
              <ul class="list-unstyled">
            {% endif %}
            {% if website %}
              <li>
                <i class="fa-solid fa-laptop"></i>
                <a href="{{ website }}" class="">Website</a>
              </li>
            {% endif %}
            {% if org %}
              <li class="mt-2">
                <i class="fa-solid fa-building"></i>
                <a href="{{ orgLink }}" class="">{{ org }}</a>
              </li>
            {% endif %}
            {% if website %}
              </ul>
            {% endif %}
            {% include "related.html" %}
          </div>
        </div>
        <div class="col-12 col-md-2">
          {% include "toc.html" %}
        </div>
      </div>
    </div>
  </article>
</main>
{% include "footer.html" %}
